<style type="text/css">
	@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

	.welcome h1,
	p {
		font-family: "Montserrat", sans-serif;
		text-align: left;
	}

	.welcome h1 {
		font-size: 2em;
	}

	.welcome p {
		font-size: 1em;
	}

	.welcome {
		max-width: 50em;
		width: 100%;
		margin: auto;
	}

	@media (max-width: 768px) {
		.welcome h1 {
			font-size: 1.5em;
		}
		.welcome p {
			font-size: 0.5em;
		}
	}
</style>

<%- include('./header.ejs') %>

<div class="welcome">
	<h1>Buen día, <%= name %>!</h1>
	<p>
		Tu cuenta ha sido creada con exito con un rol de 
		<% switch(role) { 
			case "admin": %>Administrador<% break; 
			case "editor": %>Editor<% break; 
			case "pilot": %>Piloto<% break; 
			case "student": %>Estudiante<% break; 
			case "instructor": %>Instructor<% break; 
			case "secretary": %>Secretaria<% break; } 
		%>, a este mail se enviará toda notificación sobre su actividad en la aplicación web.
	</p>
	<p>Sus datos cargados son:</p>
	<p>➡️ DNI: <%= dni %></p>
	<p>➡️ Nombre: <%= name %></p>
	<p>➡️ Apellido: <%= surname %></p>
	<p>➡️ Email: <%= email %></p>
	<p>➡️ Telefono: <%= phone %></p>
	<p>
		Si tiene alguna idea o propuesta de mejora del sistema, háganosla saber para lograr entre todos un mejor sistema.
	</p>
	<p>Saludos!</p>
</div>

<%- include('./footer.ejs') %>
